body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }

.bio {
  font-size: 1.5em; }
  .bio img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: block;
    float: right;
    margin: 0 1em 0em 1em; }

#team-members {
  clear: both; }
  #team-members .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transition-duration: 2s;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -ms-transition-duration: 2s; }
    #team-members .member img {
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      border-radius: 40px;
      box-shadow: 5px 5px 5px #d2d2d2;
      width: 200px;
      height: 200px; }
    #team-members .member:hover {
      transform: scale(1.2, 1.2);
      -webkit-transform: scale(1.2, 1.2);
      -moz-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
      transition-duration: 2s;
      -webkit-transition-duration: 2s;
      -moz-transition-duration: 2s;
      -ms-transition-duration: 2s; }
      #team-members .member:hover .overlay {
        display: inline-block; }
      #team-members .member:hover .original {
        display: none; }
    #team-members .member .overlay {
      display: none; }
    #team-members .member div.name {
      text-align: center; }
