body {
  font-family: Verdana;
  font-size: 1.5em; }
  body h1 {
    color: red; }

.bio {
  font-size: 1.5em; }
  .bio img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    display: block;
    float: right;
    margin: 0 1em 0em 1em; }

#team-members {
  clear: both; }
  #team-members .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px; }
    #team-members .member img {
      width: 200px;
      height: 200px; }
    #team-members .member:hover .overlay {
      display: inline-block; }
    #team-members .member:hover .original {
      display: none; }
    #team-members .member .overlay {
      display: none; }
    #team-members .member div.name {
      text-align: center; }
