$primaryColor: #FF0000;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transform-scale($x,$y) {
          transform: scale($x,$y);
  -webkit-transform: scale($x,$y);
     -moz-transform: scale($x,$y);
      -ms-transform: scale($x,$y);
          transition-duration: 5s;
  -webkit-transition-duration: 5s;
     -moz-transition-duration: 5s;
      -ms-transition-duration: 5s;
}

body {

  font-family: Verdana;
  font-size: 1.5em;

  h1 {
    color: $primaryColor;
  }
}

  .bio {

    font-size: 1.5em;

    img {
      @include border-radius(10px);
      width: 300px;
      height: 300px;
      display: block;
      float: right;
      margin: 0 1em 0em 1em;
    }
  }

#team-members {

  clear: both;

  .member {
    float: left;
    /*border: 1px solid gray;*/
    margin: 10px;
    padding: 6px;

    img {
      @include border-radius(40px);
      box-shadow: 5px 5px 5px #d2d2d2;
      width: 200px;
      height: 200px;
    }

    &:hover{
      @include transform-scale(2,2);
      .overlay{
      display: inline-block;
      }
      .original{
      display: none;
      }
    }

    .overlay {
      display: none;
    }

    div.name {
      text-align: center;
    }
  }
}
